/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}
/*
--------------
VARIABILI-----
--------------
*/

:root {
  --bg-sale: red;
}

/* # PRODUCTS SECTION */

.products > .container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
}

.products .product-card {
  flex: 1 0 30%;
  background-color: gray;
  min-height: 300px;
  position: relative;
  cursor: pointer;
}

.product-card .card-description > h4 {
  position: absolute;
  bottom: 40px;
  left: 0;
  color: white;
  display: inline-block;
}

.product-card .heart {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: white;
  text-align: center;
  line-height: 2;
  width: 2pc;
}

.product-card .discount {
  position: absolute;
  background-color: red;
  bottom: 135px;
  color: white;
}

.product-card .eco {
  position: absolute;
  background-color: green;

  bottom: 135px;
  left: 43px;
  color: white;
}
.products .product-card:hover {
  background-image: url("../img/1b.webp");
}
.info > span {
  font-size: 14px;
}

.price {
  text-decoration: line-through;
}
.sale {
  color: var(--bg-sale);
}
h2 {
  font-size: 18px;
  line-height: 24px;
}
h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
}
